@model List<Sharmila_Textile_WebApp.ViewModel.SummaryViewModel>
@{
    ViewData["Title"] = "Summary List View";
}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Summary</li>
                </ol>
            </nav>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button type="button" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        @* <span class="notification">5</span> *@
                        <p class="d-lg-none d-md-block">
                            Some Actions
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-primary float-right" asp-controller="Summary" asp-action="SummaryDetailView" asp-route-breadCumValue="Create New Summary">
                    <i class="material-icons">add</i> Create New Summary
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mt-0">
                    <div class="card-body">
                        <table id="dataTbl" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Btt Bills</th>
                                    <th>Normal Bills</th>
                                    <th>Total Collection</th>
                                    <th>Accountable Collection</th>
                                    <th>Total Payment</th>
                                    <th>Accountable Payment</th>
                                    <th>Total Expense</th>
                                    <th>Accountable Expense</th>
                                    <th>Total Bank Deposit</th>
                                    <th>Accountable Bank Deposit</th>
                                    <th>Summary Total</th>
                                    <th>Cash Balance</th>
                                    <th>Cheque Balance</th>
                                    <th>Date</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td class="text-center">@item.SummaryId</td>
                                    <td>@item.BttBills</td>
                                    <td>@item.NormalBills</td>
                                    <td>@item.TotalCollection</td>
                                    <td>@item.AccountableCollection</td>
                                    <td>@item.TotalPayment</td>
                                    <td>@item.AccountablePayment</td>
                                    <td>@item.TotalExpense</td>
                                    <td>@item.AccountableExpense</td>
                                    <td>@item.TotalBankDeposit</td>
                                    <td>@item.AccountableBankDeposit</td>
                                    <td>@item.SummaryTotal</td>
                                    <td>@item.CashBalance</td>
                                    <td>@item.ChequeBalance</td> 
                                    <td>@item.Date.ToString("yyyy-MM-dd")</td> 
                                    <td class="td-actions text-center">
                                        <a type="button" rel="tooltip" class="btn btn-success" asp-controller="Summary" asp-action="SummaryDetailView" asp-route-breadcumValue="View Summary" asp-route-sumId="@item.SummaryId">
                                            <i class="material-icons">visibility</i>
                                        </a>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var myTable = $('#dataTbl').DataTable();
        $('#dataTbl_filter').addClass("float-right");
    });
</script>