@using Sharmila_Textile_WebApp.HtmlEntities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SharmilaTex</title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="~/demo/demo.css" rel="stylesheet" />
    <link href="~/css/material-dashboard.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/easy-autocomplete.min.css" rel="stylesheet" />
    <link href="~/css/easy-autocomplete.themes.min.css" rel="stylesheet" />
    <link href="~/css/chartist-plugin-tooltip.css" rel="stylesheet" />
    <script src="~/js/core/jquery.min.js"></script>
    <script src="~/js/plugins/chartist.min.js"></script>
    <script src="~/js/chartist-plugin-tooltip.js"></script>

    <script>
        localStorage.apiLink = "https://localhost:44367/";
    </script>
</head>
<body>

    <div class="wrapper">

        <div class="sidebar" data-color="purple" data-background-color="white" data-image="/img/sidebar-1.jpg">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a asp-controller="Dashboard" asp-action="Index" class="simple-text logo-normal">
                    Sharmila <strong>Tex</strong>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "Dashboard", "Index")">
                        <a class="nav-link" is-active-route asp-controller="Dashboard" asp-action="Index">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext , "Staff", "StaffView")">
                        <a class="nav-link" is-active-route asp-controller="Staff" asp-action="StaffView">
                            <i class="material-icons">face</i>
                            <p>Staff</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "Customer", "CustomerView")">
                        <a class="nav-link" asp-controller="Customer" asp-action="CustomerView">
                            <i class="material-icons">group</i>
                            <p>Customer</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "Supplier", "SupplierView")">
                        <a class="nav-link" asp-controller="Supplier" asp-action="SupplierView">
                            <i class="material-icons">local_shipping</i>
                            <p>Supplier</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "OwnCheque", "OwnChequeList")">
                        <a class="nav-link" asp-controller="OwnCheque" asp-action="OwnChequeList">
                            <i class="fa fa-money"></i>
                            <p>Own Cheque</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "ThirdPartyCheque", "ThirdPartyChequeList")">
                        <a class="nav-link" asp-controller="ThirdPartyCheque" asp-action="ThirdPartyChequeList">
                            <i class="fa fa-money"></i>
                            <p>Third Party Cheque</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "SupplierPayment", "PaymentListView")">
                        <a class="nav-link" asp-controller="SupplierPayment" asp-action="PaymentListView">
                            <i class="material-icons">payment</i>
                            <p>Supplier Payment</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "Collection", "CollectionListView")">
                        <a class="nav-link" asp-controller="Collection" asp-action="CollectionListView">
                            <i class="fa fa-bitcoin"></i>
                            <p>Collection</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "CustomerAccount", "CustomerAccountListView")">
                        <a class="nav-link" asp-controller="CustomerAccount" asp-action="CustomerAccountListView">
                            <i class="fa fa-book"></i>
                            <p>Customer Account</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "SupplierAccount", "SupplierAccountListView")">
                        <a class="nav-link" asp-controller="SupplierAccount" asp-action="SupplierAccountListView">
                            <i class="fa fa-book"></i>
                            <p>Supplier Account</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "Expense", "ExpenseListView")">
                        <a class="nav-link" asp-controller="Expense" asp-action="ExpenseListView">
                            <i class="fa fa-dollar"></i>
                            <p>Expenses</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "BankDeposit", "BankDepositListView")">
                        <a class="nav-link" asp-controller="BankDeposit" asp-action="BankDepositListView">
                            <i class="fa fa-bank"></i>
                            <p>Bank Deposit</p>
                        </a>
                    </li>
                    <li class="nav-item @ActiveRouteTagHelper.IsTabActive(ViewContext, "Summary", "SummaryListView")">
                        <a class="nav-link" asp-controller="Summary" asp-action="SummaryListView">
                            <i class="fa fa-list-alt"></i>
                            <p>Summary</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            @RenderBody()

        </div>
    </div>




    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/js/loadmore.js"></script>
    <script src="~/js/jquery.easy-autocomplete.min.js"></script>
    <script src="~/js/plugins/arrive.min.js"></script>
    <script src="~/js/plugins/moment.min.js"></script>
    <script src="~/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/plugins/bootstrap-notify.js"></script>
    <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/js/plugins/bootstrap-tagsinput.js"></script>
    <script src="~/js/plugins/fullcalendar.min.js"></script>
    <script src="~/js/plugins/jasny-bootstrap.min.js"></script>
    <script src="~/js/plugins/jquery-jvectormap.js"></script>
    <script src="~/js/plugins/jquery.bootstrap-wizard.js"></script>
    <script src="~/js/plugins/jquery.tagsinput.js"></script>
    <script src="~/js/plugins/jquery.validate.min.js"></script>
    <script src="~/js/plugins/nouislider.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/js/plugins/sweetalert2.js"></script>
    <script src="~/js/plugins/jquery.dataTables.min.js"></script>

    <script src="~/js/jquery.datetimepicker.js"></script>
    <script src="~/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="~/demo/demo.js"></script>
    <script src="~/js/material-dashboard.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
